.websocket-chat-container {
  width: 100%;
  width: 550px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.websocket-chat-body {
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  background: #f8f9fa;
}

.websocket-chat-message {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  max-width: 80%;
  word-break: break-word;
  font-size: 14px;
}

.websocket-chat-message.server {
  background: #e9ecef;
  color: black;
}

.websocket-chat-footer {
  display: flex;
  flex-direction: column; /* 요소들을 세로 정렬 */
  padding: 10px;
  background: #f8f9fa;
  border-top: 1px solid #dee2e6;
  gap: 8px; /* input과 button 사이의 간격 */
}

.websocket-chat-footer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* .websocket-chat-footer button {
  width: 100%;
  padding: 8px 12px;
  background-color: #99ceff !important;
  border: none !important;
  color: white !important;
  border-radius: 5px;
  cursor: pointer;
}

.websocket-chat-footer button:hover {
  background-color: #0056b3 !important;
} */

.custom-chat-button {
  width: 100%;
  padding: 8px 12px;
  background-color: #99ceff !important;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-chat-button:hover {
  background-color: #0056b3;
}
